/* MENU AMK MENU ANASINI SİKTİĞİM MENYSY */
.menu>li>a
{
    color: rgb(0, 0, 0);
    font-family:'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px !important;

}
.header .mainLogo
{
    float: left;
    display: block;
}
.menu
{
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    background-color: #FFDD63;
}
.menu a
{
    display: block;
    padding: 20px;
    border-right: 1px solid rgb(0, 0, 0, .3);
    text-decoration: none;
}
.menu a:hover
{
    background-color:#f5d45d;
}
.header .menu
{
    clear:both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.header .menu-icon
{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.header .menu-icon .nav-icon
{
    background:black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}
.header .menu-icon .nav-icon:before
{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top:5px;
}

.header .menu-icon .nav-icon:after
{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top:-5px;
}
.header .menu-btn
{
    display: none;
}
.header .menu-btn:checked ~ .menu
{
    max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon
{
    background:transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before
{
    transform: rotate(-45deg);
    top:0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after
{
    transform: rotate(45deg);
    top: 0;
}

@media (min-width:800px)
{
    .header li{
        float: left;
    }
    .header li a
    {
        padding: 20px 30px;
    }
    .header .menu
    {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon
    {
        display: none;
    }
    .header
    {
        display: flex;
    }
    #mainLogo
    {
        margin-left:70px;
    }
    .menu
    {
        margin-right: 70px;
    }
}  